[submodule "vivaldi-setup"]
	path = vivaldi-setup
	url = https://github.com/lu0/vivaldi-setup
[submodule "vscode-settings"]
	path = vscode-settings
	url = https://github.com/lu0/vscode-settings
[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
[submodule "cinnamon/blur-wallpaper"]
	path = cinnamon/blur-wallpaper
	url = https://github.com/ngynLk/feh-blur-wallpaper
[submodule "cinnamon/sddm-themes/sddm-chili"]
	path = cinnamon/sddm-themes/sddm-chili
	url = https://github.com/lu0/sddm-chili
[submodule "rofi-blurry-powermenu"]
	path = rofi-blurry-powermenu
	url = https://github.com/lu0/rofi-blurry-powermenu
[submodule "cinnamon/spices-applets"]
	path = cinnamon/spices-applets
	url = https://github.com/lu0/cinnamon-spices-applets
