[submodule "vivaldi-setup"]
	path = vivaldi-setup
	url = https://github.com/lu0/vivaldi-setup
[submodule "vscode-settings"]
	path = vscode-settings
	url = https://github.com/lu0/vscode-settings
[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
