[Unit]
Description=Rename gnome-screenshots

[Timer]
Unit=screenshot-rename.service
OnUnitActiveSec=3s
OnBootSec=60s

[Install]
WantedBy=multi-user.target