[Desktop Entry]
Type=Application
Exec=feh-blur --blur 10 --darken 10 -d
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Blur Wallpaper
Comment[en_US]=No description
X-GNOME-Autostart-Delay=3
