[Desktop Entry]
Name[en_US]=Feh Blur
Comment[en_US]=Blur wallpaper when desktop is busy
Exec=feh-blur.sh --blur 10 --darken 10 -d
Type=Application
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
NoDisplay=false
Hidden=false
