[Desktop Entry]
Type=Application
Exec=devilspie2
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Devilspie
Comment[en_US]=Window Customization
X-GNOME-Autostart-Delay=1
