[Desktop Entry]
Name[en_US]=Devilspie2
Comment[en_US]=Maximize windows and add gaps
Exec=devilspie2
Type=Application
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=1
NoDisplay=false
Hidden=false
