[Desktop Entry]
Type=Application
Exec=/bin/sh -c '$HOME/.keymappings-X1Y3.sh'
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Key Mappings and Layout
Comment[en_US]=No description
X-GNOME-Autostart-Delay=1
