[Desktop Entry]
Name=Opacify Windows
Comment=Set transparency for unfocused windows
Exec=opacify-windows.sh
Type=Application
X-GNOME-Autostart-enabled=false
X-GNOME-Autostart-Delay=1
NoDisplay=false
Hidden=false
