[Desktop Entry]
Name=Calculator
Comment=Perform arithmetic, scientific or financial calculations
Keywords=calculation;arithmetic;scientific;financial;
Exec=gnome-calculator
Icon[ca]=gnome-calculator
Icon[cs]=gnome-calculator
Icon[da]=gnome-calculator
Icon[de]=gnome-calculator
Icon[es]=gnome-calculator
Icon[fi]=gnome-calculator
Icon[fr]=gnome-calculator
Icon[fur]=gnome-calculator
Icon[gl]=gnome-calculator
Icon[hr]=gnome-calculator
Icon[hu]=gnome-calculator
Icon[id]=gnome-calculator
Icon[it]=gnome-calculator
Icon[kk]=gnome-calculator
Icon[ko]=gnome-calculator
Icon[lt]=gnome-calculator
Icon[lv]=gnome-calculator
Icon[nl]=gnome-calculator
Icon[pl]=gnome-calculator
Icon[pt_BR]=gnome-calculator
Icon[ro]=gnome-calculator
Icon[ru]=gnome-calculator
Icon[sk]=gnome-calculator
Icon[sl]=gnome-calculator
Icon[sr@latin]=gnome-calculator
Icon[sr]=gnome-calculator
Icon[sv]=gnome-calculator
Icon[tr]=gnome-calculator
Icon[zh_TW]=gnome-calculator
Icon=gnome-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Calculator;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-calculator
X-GNOME-Bugzilla-Component=general
X-Ubuntu-Gettext-Domain=gnome-calculator
X-GNOME-Autostart-enabled=false
NoDisplay=false
Hidden=false
Name[en_US]=Calculator
Comment[en_US]=Perform arithmetic, scientific or financial calculations
X-GNOME-Autostart-Delay=15
