[Desktop Entry]
Type=Application
Exec=/bin/sh -c '$HOME/.startup_session.sh'
X-GNOME-Autostart-enabled=false
NoDisplay=false
Hidden=false
Name[en_US]=Startup apps
Comment[en_US]=No description
X-GNOME-Autostart-Delay=1
