[Desktop Entry]
Name=Windows 10
Comment=Windows 10 Virtual Machine
Exec==vm-windows10.sh
Icon=/usr/share/icons/Papirus/48x48@2x/apps/windows95.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Administration;Application;
X-GNOME-Autostart-enabled=false